body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App{
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* the navbar element  */

.navbarcont{
  display: flex;
  justify-content: center;
  align-content: center;
}

.navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  background-color: rgb(166, 213, 244);
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 7px;
  height: 130px;
}

.navbutton{
  margin-left: 200px;
}
.navtext h2{
  color: rgb(36, 109, 211);
  font-size: 30px
}

.newblog{
  height:50px ;
  width:110px;
  background-color: rgb(36, 109, 211); 
  border: 1px solid rgb(36, 109, 211);
  color: #fff;
  font-size:14px ;
  font-weight:bold ;
  border-radius: 20px
}
.homebutton{
  height:50px ;
  width:100px;
  background-color: rgb(36, 109, 211); 
  border: 1px solid rgb(36, 109, 211);
  color: #fff;
  font-size:14px ;
  font-weight:bold ;
  border-radius: 20px;
  margin-left: 20px;
}

/* add new blog page  */

.new-blog{
  display: flex;
  justify-content: center;
  margin-top: 30px;
  background-color: rgb(225, 231, 231);
  width: 580px;
  padding: 50px;
  border-radius: 20px;
}
.new-blog-back{
  display: flex;
  justify-content: center;
  text-align: center;
}
#input{
  height: 30px;
  width: 300px;
  margin-bottom: 20px;
  padding-left: 5px;
  border-radius: 10px;
  border: 1px solid rgb(225, 231, 231);
}
.new-blog-back button{
  height: 40px;
  width: 80px;
  background-color:rgb(36, 109, 211);
  border: 1px solid rgb(36, 109, 211);
  color: #fff;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
}
#textarea{
  height: 100px;
  width: 290px;
  border-radius: 10px;
  border: 1px solid rgb(225, 231, 231);
  padding: 10px;
  margin-bottom: 0px;
}
.remdisplay{
  margin-bottom: 50px;
  font-size: 12px;
}


/* the blog post display page details */
.blogpost{
  margin-top: 50px;
}
.blogdetails{
  background-color: rgb(225, 231, 231);
  width:650px ;
  padding-left: 20px;
  padding-top: 3px;
  margin-bottom: 10px;
  border-radius: 20px;
}
.blogdetails h2{
  cursor: pointer;
  color: black;
}
.blogdetails p{
  color: rgb(17, 90, 226);
}
.blogdetails p{
  margin-top: -30px;
}
.delete{
  display: flex;
  justify-content: center;
}



/* the blog details page full  */

.blogfall{
  background-color: rgb(217, 235, 247);
  padding: 20px;
  margin-top: 20px;
  width:660px;
  border-radius: 20px;
  padding-bottom: 30px;
}
.blogfalltitle{
  display: flex;
  justify-content: center;
}
.blogfalltitle h4{
  font-size: 30px;
}
.blogfallcontent{
  text-indent: 20px;
}
.delete button{
  height: 50px;
  width: 110px;
  background-color:rgb(211, 36, 36);
  border: 1px solid rgb(211, 36, 36);
  color: #fff;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 50px;
}